name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Ruby ${{ matrix.ruby }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        # Stable Ruby versions that meet >= 3.3.0 requirement
        # See: https://www.ruby-lang.org/en/downloads/releases/
        ruby:
          - '3.3'
          - '3.4'
          - '4.0'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test

      - name: Run linter
        run: bundle exec rubocop -f github
